<div class="menu-container">
    <img src="logo2.png" alt="logo EasyPark" class="logo">
    <ul class="menu-list">
        <li class="menu-item">
            <img src="/Chevron.png" alt="seta lateral" class="seta-lateral">
            <a href="/reserva">Reservar vaga</a>
        </li>
        <li class="menu-item">
            <img src="/Chevron.png" alt="seta lateral" class="seta-lateral">
            <a href="/cadastro">Cadastrar veículo</a>
            
        </li>
        <li class="menu-item">
            <img src="/Chevron.png" alt="seta lateral" class="seta-lateral">
            <a href="#">Pagamentos pendentes</a>
            
        </li>
        <li class="menu-item">
            <img src="/Chevron.png" alt="seta lateral" class="seta-lateral">
            <a href="#">Estacionamentos disponíveis</a>        
        </li>
    </ul>

    <img src="/Vector.png" alt="imagem para logout" class="logout" (click)="logout()">
    
</div>
