.container {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #2e2e2e); /* Gradiente para o fundo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo{
    width: 300px;
    margin: 0 auto;
    display: flex;

  }