.container {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #2e2e2e); /* Gradiente para o fundo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cadastro-form-container{
    display: flex;
    flex-direction: column;
    

  }

  h2{
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 1px;
  }

  #logo{
    width: 200px;
  }